/* People.module.css */
.listContainer {
  height: 95vh; /* 80% of viewport height */
}

.rowContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
